*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1E1E1E;
}

.box{
    transform: translate(-50%, -50%);
    flex-wrap: wrap;
    width: 400px;
    height: 500px;
    background-color: #292828;
    border-radius: 10px;
}

.dados{
    transform: translate(-50%, -50%);
}

input{
    color: white;
    width: 200px;
    height: 50px;
    border: none;
    padding: 5px;
    outline: none;
}

.botao{
    width: 200px;
    height: 50px;
    padding: 5px;
    border: none;
    background-color: #07d95b;
    color: black;;
}

.boxLista {
    position: absolute;
    height: 40vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    max-height: 40vh; 
    overflow-y: auto; 
    padding: 20px;
    background-color: #292828;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.chat{
    margin-bottom: 10px;  
}

.text{
    color: white;
    margin-bottom: -4px;
    border-radius: 5px;
    padding-left: 8px
}

.textp{
    color: #07d95b;
    font-weight: bold;
    border-radius: 5px;
    padding-left: 8px;
    padding-bottom: 8px;
}

.chat-item{
    border-radius: 8px;
}

.chat-item:hover .text,
.chat-item:hover .textp {
    background-color: rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none; 
    color: inherit;
}

.conversa-box {
    background-color: #292828;
    border-radius: 10px;
    padding: 20px;
    max-height: 500px;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.conversa-item {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
    background-color: #1E1E1E;
    color: white;
}

.conversa-nick {
    font-weight: bold;
    color: #07d95b;
    margin-bottom: 5px;
}

.conversa-msg {
    margin-bottom: 5px;
}

.conversa-timestamp {
    font-size: 0.8em;
    color: #ccc;
}

.conversa-box {
    background-color: #292828;
    border-radius: 10px;
    padding: 20px;
    max-height: 500px;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

.conversa-item {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
    background-color: #1E1E1E;
    color: white;
}

.conversa-nick {
    font-weight: bold;
    color: #07d95b;
    margin-bottom: 5px;
}

.conversa-msg {
    margin-bottom: 5px;
}

.conversa-timestamp {
    font-size: 0.8em;
    color: #ccc;
}

.input-box {
    display: flex;
    margin: 0 2vw 0 2vw;
}

.input-mensagem {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.botao-enviar {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #07d95b;
    color: white;
    cursor: pointer;
}

.botao-enviar:hover {
    background-color: #05b84a;
}

h1{
    text-align: center;
    color: #07d95b;
    font-weight: bold;
}